.box{
    margin-top: 40px;
    border: 1px solid black;
}
    
.card{
    margin: 25px;
}
.knowledge{
    margin: 25px;
}
.col-md-6{
    margin-left: 15px;
}
.box1{
    border: 1px solid black;
    margin: 25px;

}