
<div class="container ">
    
    <ng-container>
    <div class="box col-md-10">
        <table>
            <tr>
                <td>
                    <div class="card">
                        <img src="{{singleProduct?.image}}" style="width: 500px;height: 500px;"alt="">
                    </div>
                </td>
                <td>
                    <div class="knowledge">
                        <h5 class="itemdata" style="font-size: 24px;">{{singleProduct?.title}}</h5>
                        <p class="itemdata">{{singleProduct?.description}}</p>
                        <p style="font-size:24px;"><strong>Price: </strong>${{singleProduct?.price}}</p>
                       
                    </div>
                </td>
            </tr>
        </table>


    </div>
    </ng-container>
</div>
<div class="container">
    <ng-container>
    <div class="box col-md-10">
        <table class="table">
            <thead>
              <tr>
                <th scope="col"><h2 style="margin:20px;">Comments</h2></th>
              </tr>
            </thead>
            <tbody>
            <div class="box1 col-md-6-center d-flex ">
              <tr>
                <th scope="row">
                    <tr scope="col"><h3 style="margin:15px;"> <strong>Çiğdem Koçak</strong></h3></tr>
                    <tr scope="col"><h4 style="margin:15px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic</h4></tr>
                </th>
              </tr>
            </div>
            <div  class=" box1 col-md-6-center d-flex ">
                <tr>
                    <th scope="row">
                    <tr scope="col"><h3 style="margin:15px;"> <strong>Çiğdem Koçak</strong></h3></tr>
                    <tr scope="col"><h4 style="margin:15px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic</h4></tr>
                </th>
  
                </tr>
              </div>
              <div  class=" box1 col-md-6-center d-flex ">
                <tr>
                    <th scope="row">
                        <tr scope="col"><h3 style="margin:15px;"> <strong>Çiğdem Koçak</strong></h3></tr>
                        <tr scope="col"><h4 style="margin:15px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic</h4></tr>
                    </th>
  
                </tr>
              </div>
              <div  class=" box1 col-md-6-center d-flex ">
                <tr>
                    <th scope="row">
                        <tr scope="col"><h3 style="margin:15px;"> <strong>Çiğdem Koçak</strong></h3></tr>
                        <tr scope="col"><h4 style="margin:15px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic</h4></tr>
                    </th>
  
                </tr>
              </div>
              <div  class=" box1 col-md-6-center d-flex ">
                <tr>
                    <th scope="row">
                        <tr scope="col"><h3 style="margin:15px;"> <strong>Çiğdem Koçak</strong></h3></tr>
                        <tr scope="col"><h4 style="margin:15px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic</h4></tr>
                    </th>
  
                </tr>
              </div>
              <div  class=" box1 col-md-6-center d-flex ">
                <tr>
                    <th scope="row">
                        <tr scope="col"><h3 style="margin:15px;"> <strong>Çiğdem Koçak</strong></h3></tr>
                        <tr scope="col"><h4 style="margin:15px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic</h4></tr>
                    </th>
  
                </tr>
              </div>
            </tbody>
        </table>

    </div>
    </ng-container>
</div>
