.card{
    margin-top: 10px;
    width: 500px;
    padding: 40px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% ,-50%);
    border-radius: 20px;
    border-color:black;
}
input{
    border-color:black;
}

.card, h1, h6{
    color:black;
}

.label{
    color:#fff;
}

.form-control{
    border-radius: 30px;
}
